<div class="flex h-full items-center justify-between">
  <div class="w-[50%] flex flex-col justify-center">
    <p-toast />
    <div class="w-full flex flex-col gap-8 px-10">
      <app-logo />
      <h2 class="font-bold text-2xl">Boas vindas ao EstoquePrev</h2>
      <form
        class="mt-4 flex w-full flex-col gap-6"
        [formGroup]="form"
        (ngSubmit)="handleLogin()"
      >
        <p-floatlabel variant="in">
          <input
            id="username"
            class="w-full"
            pInputText
            formControlName="email"
          />
          <label for="username">E-mail</label>
        </p-floatlabel>

        <p-floatlabel variant="in" class="w-full">
          <p-password
            id="password"
            styleClass="w-full"
            inputStyleClass="w-full"
            [feedback]="false"
            [toggleMask]="true"
            formControlName="password"
          />
          <label for="password">Senha</label>
        </p-floatlabel>

        <p class="flex gap-1 items-center justify-end">
          <p-button
            icon="pi pi-lock"
            label="Esqueceu a senha?"
            severity="secondary"
            variant="text"
          />
        </p>

        <p-button styleClass="w-full mt-2" type="submit"> Acessar </p-button>
      </form>
      <div class="flex items-center justify-between gap-2">
        <hr class="border-gray-300 h-1 w-1/2" />
        <p>ou</p>
        <hr class="border-gray-300 h-1 w-1/2" />
      </div>
      <p-button
        styleClass="w-full mt-2"
        severity="contrast"
        type="button"
        routerLink="/register"
      >
        Conheça o Sistema
      </p-button>
    </div>
  </div>
  <div class="w-[50%] flex items-center justify-center">
    <img
      src="undraw/undraw_secure-login_m11a.svg"
      width="550"
      alt="Ilustração de uma pessoa e um notebook indicando login"
    />
  </div>
</div>
