<p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-72 border-none">
    <ng-template #submenuheader let-item>
        <span [class]="'flex items-center gap-2 justify-start text-primary font-bold ' + item.styleClass">
            @if (item.icon) {
                <i [class]="item.icon"></i>
            }
            {{ item.label }}
        </span>
    </ng-template>
    <ng-template #item let-item>
        <a pRipple class="ml-2 flex gap-2 items-center p-menu-item-link" [routerLink]="item.routerLink">
            <span [class]="item.icon"></span>
            <span>{{ item.label }}</span>
        </a>
    </ng-template>
</p-menu>