h1.logo {
    font-family: "Montserrat Alternates", serif;
    font-weight: bold;
    font-size: 1.8rem;

    .primary {
        color: #208A69;
    }

    .secondary {
        color: #D0AC19;
    }
}